In [1]:
import pandas as pd
import sqlalchemy

In [2]:
data = "/home/arif/nnewIcon/MASTER WhatsappAuto Update agustus 2023.xlsx"
x = pd.read_excel(data,sheet_name="STOK",index_col=None)
x.dropna(how='all')
x.drop(x.loc[x['Input']=='SUPERSEDE'].index, inplace=True)
x.drop(x.loc[x['Input']=='DISCONTINUE'].index, inplace=True)
x.drop(x.loc[x['Input']=='SUBSTITUSI'].index, inplace=True)
x.drop(x.loc[x['Input'].isnull()].index, inplace=True)
drop_list = ["Input","Ket","OH",902,900,"HET","STD DUS","Respon"]
x = x.drop(x.columns.difference(drop_list), axis=1)
x.map(str)

,Input,Ket,OH,902,900,HET,STD DUS,Respon
1,14721KZY700,"VALVE, EX",14721KZY701,nan,nan,65000,1,"Sudah *DISCONTINUE*, pake P/N ini : 14721KZY701"
2,14711KZY700,"VALVE, IN",14711KZY701,nan,nan,40000,1,"Sudah *DISCONTINUE*, pake P/N ini : 14711KZY701"
3,22535KVB900,WEIGHT SET CLUTCH,22535KWN901,nan,nan,132000,20,"Sudah *DISCONTINUE*, pake P/N ini : 22535KWN901"
4,28230KVB900,GEAR COMP KICK SPINDLE,28230KVB902,nan,nan,54000,1,"Sudah *DISCONTINUE*, pake P/N ini : 28230KVB902"
5,06381GF6300,ROD KIT CONNECTING,06381KEV880,nan,nan,220000,35,"Sudah *DISCONTINUE*, pake P/N ini : 06381KEV880"
...,...,...,...,...,...,...,...,...
53269,TABRACKET,BRACKET,TIDAK ADA,TIDAK ADA,TIDAK ADA,550,nan,nan
53270,ULTRA G4,(D) ULTRA G4 0W30 SLMA 1L IDE,TIDAK ADA,TIDAK ADA,TIDAK ADA,295,nan,nan
53271,UNIHID,"HID LIGHT SET,UNIVERSAL",TIDAK ADA,TIDAK ADA,TIDAK ADA,2.500.000,nan,nan
53272,W21/5WL,"BULB,WEDGE BASE (12V 21/5W)",TIDAK ADA,TIDAK ADA,TIDAK ADA,50,nan,nan
53273,YTX7LBS,AKI YUASA,TIDAK ADA,TIDAK ADA,TIDAK ADA,625,nan,nan

In [12]:
database_username = 'root'
database_password = 'satuduatiga'
database_ip       = '192.168.0.13'
database_name     = 'catarine'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))
db = database_connection.connect()
db.execute("select * from Barang;")

ObjectNotExecutableError: Not an executable object: 'select * from Barang;'